#google_lens_img{
    width: 100px;
}
.heading{
    font-size: 23px;
    width: 130px;
}
.img-responsive{
    width: 350px;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: black;
    line-height: 2.5;
    text-align: center;
    font-size: 15px;
    }
.primary-heading{
 font-size: 19px;
 background-color: lightgreen;
 color: black;
 border-color: lightgreen;
}